@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr />  
<h3>If you really want to play tennis...</h3>
<h3>but do not have partner near by...</h3>
<h3>Then this is the right place for you!</h3>
<p>Connect with other tennis players near you. Search for a partner to play with. Or just have fun!</p>