@using TennisLinks.Web.Models.Home
@model IEnumerable<UserSearchResultViewModel>

@{
    ViewBag.Title = "all players";
}
<h2>@ViewBag.Title</h2>

<h4>Browse all players in database</h4>

<h5 class="hidden" id="error-message"></h5>

<hr />
<div class="player-box row">
    @foreach (var user in Model)
    {
        @Html.Partial("_UserDetailsPartial", user);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/local")
}